/*------We create the section main part here*/
/*1) We style a main section to place the filter and the content horizontally*/
/*using display flex'*/

.container-main {
    /*background-color: pink;*/
    height: auto;
    display:flex;
    flex-grow: 1;
    gap: 20px;
}

/*2) here I style a container-filter where I will build my filter */

.container-filter {
    /*background-color: yellow;*/
    width: 15vw;
    height: 80vh;
    margin-top: 20px;
    margin-left: 20px;
    border:1px solid #dedcdc;
    /*!*box-shadow: 0 0 10px 5px #f0efef;*!*/
    /*!*border-radius: 10px;*!*/
}

.container-filter table, th, h1{
    font-size: 17px;
    padding: 3px;
}

.container-filter table, th, td {
    border-bottom: 1px solid #dedcdc;
    border-collapse: collapse;
    padding-left: 10px;
}

.container-filter table {
    width: 15vw;
    height: 80vh;
}

.container-filter table, th, td, a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

/*3) We style here the icon and the texts of the aside filter*/

.icon-filter {
    color: #02be6e;
}

.icon-filter:hover {
    color: #028f53;
}

.btn-hover-filter:hover {
    color: #02be6e;
}

/*2) here I style a container-filter where I will build my filter */

.container-filter {
    /*background-color: yellow;*/
    width: 15vw;
    height: 80vh;
    margin-top: 20px;
    margin-left: 20px;
    border:1px solid #dedcdc;
    /*background-color: red;*/
    /*!*box-shadow: 0 0 10px 5px #f0efef;*!*/
    /*!*border-radius: 10px;*!*/
}

.container-filter table, th, td {
    border-bottom: 1px solid #dedcdc;
    border-collapse: collapse;
    padding-left: 10px;

}

.container-filter table {
    width: 15vw;
    height: 80vh;

}

.container-filter table, th, td, a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

/*3) We style here the icon and the texts of the aside filter*/

.icon-filter {
    color: #02be6e;
    font-size: 10px;
    padding: 10px;
}

.icon-filter:hover {
    color: #028f53;
}

.btn-hover-filter:hover {
    color: #02be6e;
}

@media screen and (max-width: 1320px) {
   .container-filter {
       /*background-color: violet;*/
       width: 18vw;
       height: 80vh;
   }
    .container-filter table {
        width: 18vw;
        height: 80vh;
    }
}

@media screen and (max-width: 1111px) {
    .container-filter {
        /*background-color: red;*/
        width: 23vw;
        height: 80vh;
    }
    .container-filter table {
        width: 23vw;
        height: 80vh;
    }
}

@media screen and (max-width: 860px) {
    .container-filter {
        /*background-color: blue;*/
        width: 30vw;
        height: 80vh;
    }
    .container-filter table {
        width: 30vw;
        height: 80vh;
    }
}

@media screen and (max-width: 660px) {
    .container-filter {
        /*background-color: greenyellow;*/
        width: 37vw;
        height: 80vh;
    }
    .container-filter table {
        width: 37vw;
        height: 80vh;
    }
}

@media screen and (max-width: 535px) {
    .container-filter {
        display: none;
    }
    .container-filter table {
        display: none;
    }
}